html {
	background-color: white
	font-family: georgia;
}

body {
	margin: 0em;
}

h1,h2,h3 {
	font-family: 'sigmar one';
	color: hotpink;
}

h1 {
	font-weight: bold;
	font-size: 3rem;
	background-color: yellow;
	text-align: center;
}
